@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

img {
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --red: #d52b1e;
  --bg-color: #fafafa;
  --fg-color: #070707;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  min-height: 500vh;
  font-family: "Mulish", sans-serif;
}
