.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  height: 85vh;
  width: 100%;
  background: url("https://www.sweetwater.com/insync/media/2022/06/Coolest-Fender-Stratocaster-Playersf-Featured-Image.jpg")
    no-repeat;
  background-size: cover;
}
.newsletter-title {
  text-wrap: balance;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 5rem;
}

.newsletter-form {
  width: 70%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.newsletter-input {
  flex: 1;
  display: block;

  padding: 1rem;
  font-size: 1rem;
  border: 0;
  background-color: #fff;
  font-family: "Mulish", sans-serif;
}

@media screen and (min-width: 40rem) {
  .newsletter-form {
    flex-direction: row;
  }
}
